body {
  background: url("background.png");
}

.container {
  width: 80%;
  margin: 0 auto;
}

.big {
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: -30px;
  font-family: 'Coming Soon';
  font-size: 45px;
  color: rgb(24, 24, 24);
}

h1 ~ p {
  margin-top: -30px;
  margin-left: 5px;
  text-align: center;
}

p {
  font-family: 'Roboto Slab';
  font-size: 25px;
  color: rgb(106, 106, 106);
}
